.clock{
  padding: 5px;
  margin-left: 5px;
  color: white;
  position: absolute;
  bottom: 0;
  margin-left: 15px;
  text-align: center;
  width: 90%;
}
#root {
  text-align: left;
  margin-left:15%;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  height: 100vh;
}
img{
  margin-bottom: 5px;
  display: flex;

}
.container{
  margin: 0;
  text-align: left;
}
h1{
  text-align: center;
}